.breefs-list {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    min-height: 100%;
    padding: 12px;
    gap: 24px;

    .empty-breef-list {
        margin: auto 0;
        text-align: center;
        color: #777777;
    }
}